<div class="fixed top-0 left-0 h-screen w-16 flex flex-col
                  bg-white dark:bg-gray-900 shadow-lg">

	<%= render Admin::Sidebar::IconComponent.new("Dashboard") do %>
		<%= link_to :admin_root, data: { turbo_method: :delete }, class: "w-full h-full flex items-center justify-center" do %>
				<i class="fa-solid fa-house 2xl"></i>
		<% end %>
	<% end %>
	
	<%= render Admin::Sidebar::IconComponent.new("Personal") do %>
		<i class="fa-solid fa-user"></i>
	<% end %>

	<%= render Admin::Sidebar::IconComponent.new("Github") do %>
		<i class="fa-brands fa-github-alt 2xl"></i>
	<% end %>

	<%= render Admin::Sidebar::IconComponent.new("LinkedIn") do %>
		<i class="fa-brands fa-linkedin 2xl"></i>
	<% end %>

	<% if admin_signed_in? %>
		<%= render Admin::Sidebar::IconComponent.new("Sign Out") do %>
			<%= link_to :destroy_admin_session, data: { turbo_method: :delete }, class: "w-full h-full flex items-center justify-center" do %>
				<i class="fa-solid absolute z-0 fa-right-from-bracket group-hover:invisible"></i>
				<i class="fa-solid absolute z-0 fa-person-running invisible group-hover:visible"></i>
			<% end %>
		<% end %>
	<% else %>
		<%= render Admin::Sidebar::IconComponent.new("Sign In") do %>
			<%= link_to :new_admin_session, class: "w-full h-full flex items-center justify-center" do %>
				<i class="fa-solid absolute z-0 fa-right-to-bracket group-hover:invisible"></i>
				<i class="fa-solid absolute z-0 fa-person-running invisible group-hover:visible"></i>
			<% end %>
		<% end %>
	<% end %>
</div>
